h1 {
    background: #892726;
    text-align: center;
    color: #f8edcd;
}
.target {
    background: #c0c0c0;
    text-align: justify;
    padding: 15px ;
    margin-bottom: 0;

}
.target1 {
    background: #6395ec;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: justify;
    margin-bottom: 0;
}
.div1 {
    background: #6bba67;
    height: 200px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
}
.div2 {
    background: #8886ab;
    height: 200px;
    width: 200px;
    margin-top: 0;
    border-radius: 20px;
}