#container {
    background: seashell;
    margin: auto;
    width: 600px;
}
.a1 {
    background: #6395ec;
    height: 200px;
}
.a2 {
    display: flex;
    justify-content: space-between;
}
.a3 {
    width: 180px;
    height: 200px;
    background: #1048ad;
    margin-top: 20px;
}
.a4 {
    background: #6395ec;
    height: 500px;
    margin-top: 20px;
}